@import "../../styles/mixins.scss";

.titlePage {
  text-align: center;

  @include xs {
    @include calcFn(font-size, 24, 18, 540, 320);
  }
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    @include calcFn(gap, 40, 20, 768, 540);
  }

  @include xs-mini {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}

.imageBlock {
  overflow: hidden;
  width: 280px;
  height: 280px;
  background-color: #fff;
  border-radius: 10px;

  &:hover {
    .image {
      transform: scale(1.2);
    }
  }

  @include lg {
    @include calcFn(width, 382, 299, 1280, 1024);
    @include calcFn(height, 382, 299, 1280, 1024);
  }

  @include lg-md {
    @include calcFn(width, 298, 213, 1024, 768);
    @include calcFn(height, 298, 213, 1024, 768);
  }

  @include sm {
    @include calcFn(width, 349, 225, 768, 500);
    @include calcFn(height, 349, 225, 768, 500);
  }

  @include xs-mini {
    @include calcFn(width, 470, 290, 500, 320);
    @include calcFn(height, 470, 290, 500, 320);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s all;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  height: 180px;

  @include md {
    gap: 10px;
    height: 150px;
  }
}

.title {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  max-height: 50px;
  font-size: 20px;

  @include md {
    font-size: 17px;
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;

  @include md {
    font-size: 15px;
  }
}

.btn {
  width: 100%;
  margin-top: auto;
  height: 50px;
}

.btnLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  color: var(--color-gray);
}
