@import "mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #242424;
  color: #fc6;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --yellow: #fc6;
  --yellow-opacity: #514732;
  --color-gray: #242424;
}

main {
  margin: 120px 0 70px 0;

  @include xs {
    margin: 90px 0 90px 0;
  }
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  height: 40px;
  background-color: var(--color-gray);
  color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 12px;
  padding: 0 15px;
  font-size: inherit;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  gap: 5px;
  color: var(--yellow);
  outline: 1px solid;
  height: 40px;
  border-radius: 10px;
  font-size: 17px;
  transition: 0.3s all;
  padding: 0 15px;

  &:hover {
    background-color: var(--yellow);
    color: var(--color-gray);
  }

  &:active {
    transform: scale(0.9);
  }
}
