.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rate,
.title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.error {
  display: flex;
  align-items: center;
  gap: 5px;
}